
.card_body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 700px; */
    min-height: 440px;
    height: 700px;
    /* margin-left: 2%; */
    background-color: #f0f0f0;
    overflow: hidden;
    position: relative;
    margin-top: 20px;

}

.canvas{
    position: absolute;
    /* overflow: hidden; */
    transition: all .5s;
    /* object-fit: scale-down; */
    /* left: 52%; */
    /* display: inline */
    /* text-align: center; */
    justify-content: center;
    /* margin-top: 20px; */
    transform: translate(-50%, -100%);
    /* border: 2px solid #000; */

    border: 2px dotted;
    border-color: #c5c9c5;

}

.test_crop_canvas{
    /* overflow: hidden; */

    position: absolute;
    transition: all .5s;
    /* object-fit: scale-down; */
    /* top: 14%; */
    /* left: 22%; */
    transform: translate(-50%, -100%);
    border: 2px solid rgb(56, 44, 160);
}


.test_crop_canvas1{
    /* display: flex; */
    /* justify-content: center; */
    border: 3px solid rgb(119, 26, 26);
    width: 430px;
    height: 433px;
    /* top: 50%; */
    /* left: 50%; */
    transform: translate(-100%, 00%);

}

.filter_span{
    font-size: 15px;
}
.filter_key{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 8px;
}

.filter_slider{
    margin: 8px 0px;
}

.label_bar{
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
}
button.active{
    background-color: #616264;
    color: #fff;
}
button{
    padding: 8px;
    background-repeat: 3px;
    border: 1px solid #dad7d7;
    cursor: pointer;
    color: #404040;
    border-radius: 5px;
    text-transform: capitalize;
}
.filter_button_after{
    background-repeat: 3px;
    border: 1px solid #dad7d7;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: capitalize;
    background-color: rgb(42, 50, 153);
    color: #fff;

}
.filter_range{
    width: 100%;
}

.rotate{
    display: grid;
    font-size: 15px;
    color: #404040;
}
.icon{
    margin-top: 13px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.rotate_btn{
    border-radius: 5px;
    border: 1px solid rgb(179, 194, 194);
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn_group{
    display: flex;
    margin-top: 20px;
    /* float: right; */
    /* margin-right: 13px; */
}

.save_btn{
    background-color: white;
    border: 1px solid #008000;
    cursor: pointer;
    color: #008000;
    margin-left: 5px;
    border-radius: 5px;
    width: 80px;

}
.save_btn:hover{
    color: white;
    background-color: #008000;
    transition: .5s;
}

.crop_btn{
    background-color: white;
    border: 1px solid #2c6d96;
    color: #2c6d96;
    cursor: pointer;
    /* margin-left: 5px; */
    border-radius: 5px;
    width: 80px;
}
.crop_btn:hover{
    color: white;
    background-color: #2c6d96;
    transition: .5s;
}

.import_btn{
    
    display: none;
}

.import_image{
    margin-right: 450px;
    display: flex;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgb(139, 143, 143);
    color: rgb(139, 143, 143);
    font-size: 15px;
    padding: 7px;


}

.import_image:hover{
    color: white;
    background-color: rgb(172, 169, 169);
    transition: .5s;
}


